name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            os: ubuntu-24.04
          - ruby: 3.4
            os: ubuntu-24.04
          - ruby: 3.3
            os: ubuntu-22.04
          - ruby: 3.2
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - run: pip install matplotlib pandas prophet
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake vendor:platform
      - run: TEST_PYTHON=1 bundle exec rake test
